@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


*{
  margin :0; 
  padding :0;
  
}

html {
  height:100%;
}


body {
  min-height:100%;
  background-color: black;
  text-align:center;
  margin: 0;
  padding: 0;
}



nav {
  font-family: 'Ubuntu', sans-serif;
}

nav ul{
  display : flex;
  align-items :center;
  list-style-type: none;
  height : 65px;
  background-color: antiquewhite;
  color : black;
  min-height:100%;
  
}
nav ul li{
  padding: 0 12px;
  min-height:100%;
}
.brand img{
  width: 44px;
  padding : 0 8px;
  min-height:100%;
 }
 
 .brand {
   display: flex;
   align-items: center;
   font-weight: bolder;
   font-size : 1.3rem;
   min-height:100%;
 }
 
 .container{
   min-height: 100%;
   background-color : black;
   color : white;
   font-family: 'Valera Round', sans-serif ;
   display: flex;
   width: 70%;
   margin: 23px auto;
   border-radius:12px;
   padding-left: 5%;
   overflow-x: auto;
   
 }
  
button {
background-color: #57d53b; /* #7D8E95 */
color: black;
padding: 14px 0px;
margin: 10px 0;
border: none;
cursor: pointer;
width: 48%;
text-align:center;
border-radius: 10px;
position : relative;
font-family :monospace;
min-height:100%;

}

button:hover{
transform: scale(1.02);
}

h1{
    text-align:center;
}

button.start{
padding:14px 15px;
margin: 10px 0;
font-family :monospace;
}

/* bouton accueil */

button.home{
padding:14px 15px;
margin: 10px 0;
left : 50px;
font-family :monospace;
}

footer{
background:antiquewhite;
position:absolute;
bottom:0;
width:100%;
padding-top:25px;
height:25px;
font-family :monospace;

}