h1{
    text-align:center;
    color : #57d53b;
    font-family :monospace;
    font-size: 90px;
}

h2{
    text-align:center;
    color : antiquewhite;
    font-family :monospace;
}

#logo {
    font-size: 40px;
}

.button {
    background-color: #57d53b; /* #7D8E95 */
    color: black;
    font-family :monospace;
    padding: 20px 130px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    text-align:center;
    border-radius: 10px;
    font-family :monospace;
    text-align:center;
}

.button input {
    font-family :monospace;
    font-size: 16px; 
    color: black;
    background-color:#57d53b;
    border: none;
}

.button input:hover{
    color: antiquewhite;
}