{% extends "base.html" %}

{% block stylesheet %}
    {{ parent() }}
    <link type="text/css" href="views/index.css" rel="stylesheet" > 
{% endblock %}

{% block ju %}
    <h1>Découvrez et redécouvrez vos habitudes sur Spotify</h1>
    <h2 id="logo"></h2>
    
    {% if sessionUser == true %} <!-- Si le compte existe déja -->
        <h2>Votre espace</h2>
        <h3 id="logo">🎧</h3>
        <button class="start" onclick="window.location.href='?c=user&t=loginUser';"> Accéder à vos classements</button>
        <button class="start" onclick="window.location.href='?c=user&t=closeSession';"> Déconnexion</button>

    {% else %}
    
        <h2> Connectez-vous !</h2>
        <h3 id="logo">🎧</h3>
        <button class="start" onclick="window.location.href='?c=user&t=create';"> Créer un compte</button>
        <button class="start" onclick="window.location.href='?c=user&t=login';"> Se connecter</button>
    {% endif %}
    
{% endblock %}
