.list{
    display: flex;
    overflow-x: auto;
    }
    
.card{
    width: 230px;
    height: 200px;
    margin-right: 10px;
    padding-right: 40px;
    background-color: #57d53b;
    border-radius: 10px;
    }
    
.card h1{
    margin: 0px;
    padding: 10px 23%;
    }

.card p{
    margin: 0px;
    padding: 0px 45%;
    font-size: 70px;
    padding-bottom: 15px;
    }

.card input{
    margin: 5px 42%;
    background-color : green;
    border-radius: 15px;
    color: antiquewhite;
    text-decoration: none;
    border: none;
    padding : 5px 15px;
    transition: transform 0.25s;
    }

.card input:hover{
    color: black;
    }
    
h1 {
    color : antiquewhite;
    text-align : center;
    font-family :monospace;
    }