h1 {
    text-align:center;
    color:  #57d53b;
    font-family :monospace;
}

/* votre espace */
h2{
    text-align:center;
    color: antiquewhite;
    font-size: 1.4em;
    font-family :monospace;
    
}

.button{
background-color: #57d53b; /* #7D8E95 */
color: black;
padding: 4px 0px;
margin:4px 72px;
border: none;
cursor: pointer;
width: 48%;
text-align:center;
border-radius: 30px;

}

.button input {
    font-family :monospace;
    font-size: 16px; 
    color: black;
    background-color:#57d53b;
    border: none;
}

.button input:hover{
    color: antiquewhite;
    }