.button{
background-color: #57d53b; /* #7D8E95 */
color: black;
padding: 14px 0px;
margin:40px 100px;
border: none;
cursor: pointer;
width: 48%;
text-align:center;
border-radius: 10px;
font-family :monospace;

}

.button a {
    text-decoration:none;
    border: none;
    background-color:#57d53b ;
    color : black;
    
}

.button :hover{
transform: scale(1.02);
color: antiquewhite;
}

h1{
    
    text-align:center;
    color : antiquewhite;
    font-family :monospace;
}

/* gros titre*/
h1{
    text-align:center;
    color:  #57d53b;
    font-style: italic;
    font-family :monospace;
}

/* logo */
h2{
    text-align:center;
    
}